.access-denied {
  background-color: #ffcccc; /* Light red background */
  color: #ff0000; /* Red text */
  border: 2px solid #ff0000;
  padding: 20px;
  text-align: center;
  margin-top: 50px;
  border-radius: 10px;
  position: relative;
  width: 300px;
  margin: 50px auto;
}

.access-denied h2 {
  margin-bottom: 10px;
  font-size: 24px;
}

.access-denied p {
  font-weight: bold;
  font-size: 16px;
}

.access-denied button {
  background-color: #ff0000;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.access-denied button:hover {
  background-color: #cc0000; /* Darker red on hover */
}
